.popup__container {
  position: fixed;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  max-width: 430px;
  min-width: 282px;
  width: calc(100% - 2*19px);
  padding: 25px 22px;
}

@media screen and (min-width: 399px) {
  .popup__container {
    font-size: 24px;
    line-height: 29px;
    padding: 34px 36px 37px;
  }
}
