.icon-edit {
  margin-left: 10px;
  font-size: 18px;
  border: 1px solid;
  transition: .5s ease-out;
}

.icon-edit:hover {
  opacity: .6;
  cursor: pointer;
}
@media screen and (min-width: 699px) {
  .icon-edit {
    font-size: 24px;
    margin-left: 18px;
  }
}

