.header__logo {
  width: 103.74px;
  padding-bottom: 31.6px;
  padding-left: 27px;
}

@media screen and (min-width: 949px) {
  .header__logo {
    width: 142px;
    padding-bottom: 41px;
    padding-left: 0;
  }
}

