.icon-close {
  color: white;
  font-size: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  transition: .5s ease-out;
}

.icon-close:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (min-width: 699px) {
  .icon-close {
    font-size: 32px;
    top: -40px;
    right: -40px;
  }
}

