.profile__description {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 949px) {
  .profile__description {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}
