.profile__btn-add {
  font-family: 'icons';
  height: 50px;
  width: 100%;
  background-color: transparent;
  outline: 2px solid white;
  border: none;

}

.profile__btn-add:before {
  content: '\e900';
  font-size: 16px;
}

@media screen and (min-width: 599px) {
  .profile__btn-add {
    justify-self: end;
    width: 282px;
  }

  .profile__btn-add:before {
    font-size: 22px;
  }
}

@media screen and (min-width: 949px) {
  .profile__btn-add {
    width: 150px;
  }
}
