.popup__btn-close:before {
  font-family: 'icons';
  content: '\e901';
  color: white;
  font-size: 20px;
  position: absolute;
  top: -36px;
  right: 0;
}

@media screen and (min-width: 699px) {
  .popup__btn-close:before {
    font-size: 32px;
    top: -40px;
    right: -40px;
  }
}
